{% extends "layout.html" %} {% block content %}
<div class="container-fluid">
  <!-- search form -->
  <div class="row form">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <form action="{{url_for('index')}}" method="POST">
        <div class="form-group">
          <input
            type="search"
            name="searchItem"
            class="form-control"
            placeholder="Search for a book"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Search
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
  <!-- Searched book representation -->
  {% if searchItem %}
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="imgDiv">
        <img
          src="{{searchItem['Image-URL-M']}}"
          class="searchImg"
          alt="Image"
        />
      </div>
      <div class="titleDiv">
        <h3>{{searchItem["Book-Title"]}}</h3>
        <h4>Author : {{searchItem["Book-Author"]}}</h4>
        <h5>ISBN: {{searchItem["ISBN"]}}</h5>
        <h5>Rating: {{rating}}/10</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center">Recommended Books</h3>
    {% for item in recommendedBooks %}
    <div class="col-xs-2 bookItem">
      <div class="bookImg">
        <img
          src="{{item['Image-URL-M']}}"
          alt="Image"
          class="img-responsive img"
        />
      </div>
      <div class="bookTitle">
        <p class="text-primary">{{item['Book-Title']}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <!-- Books representation -->
  {% if not searchItem %}
  <div class="row">
    <h3 class="text-center">Books Collection</h3>
    {% for index,row in books.iterrows() %}
    <div class="col-xs-2 bookItem">
      <div class="bookImg">
        <img
          src="{{row['Image-URL-M']}}"
          alt="Image"
          class="img-responsive img"
        />
      </div>
      <div class="bookTitle">
        <p class="text-primary">{{row['Book-Title']}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
