{% extends "layout.html" %} {% block content %}
<div class="container-fluid">
  <div class="row form">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <form action="{{url_for('index')}}" method="POST">
        <div class="form-group">
          <input
            type="search"
            name="searchItem"
            class="form-control"
            placeholder="Search for a book"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Search
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    {% for i in range(1,10) %}
    <div class="col-xs-4 bookItem">
      <img src="#" alt="Image"/>
      <p>This is book</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
